.form{
    background-color: aquamarine;
    margin: 0 auto;
    width: 450px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 50px;
}
.form .input_box{
    width: 100%;
    padding: 15px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    font-size: 18px;
}
.form button{
    background-color: black;
    color: #fff;
    font-size: 20px;
    padding: 14px 40px;
    border: none;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    cursor: pointer;
    width: 100%;
}
.input_group .error{
    color: red;
    text-transform: capitalize;
    font-weight: 400;
}
.show_pass{
    margin-top: 5px;
    display: flex;
    gap: 5px;
}